.sublink {
    background-color: #333;
    color: #fff;
  }
  
  .sublink-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sublink-item {
    display: flex;
    align-items: center;
  }
  
  .sublink-link {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    display: block;
  }
  
  .sublink-link:hover,
  .sublink-link:focus {
    background-color: #555;
  }
  
  .sublink-dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    
  }